#guide {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 3px solid white;
  border-radius: 20px;
  background-color: black;
  padding: 20px;
  font-family: Classic Console Neue;
  text-align: left;
}

#guide p {
  line-height: 0;
  text-indent: 1.5rem;
}

#guide button {
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 3px;
  background-color: black;
  padding-top: 5px;
  color: white;
  font-size: 2rem;
  font-family: Classic Console Neue;
  text-align: center;
}

#guide button:hover {
  color: rgb(180, 45, 45);
}

.bold {
  font-size: 1.2rem;
}
