@font-face {
  src: url('fonts/clacon2.woff2') format('woff2');
  font-family: 'Classic Console Neue';
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
}

#background {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  filter: blur(4px);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#content {
  right: 0;
  left: 0;
  z-index: 1;
}

#header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2em;
  width: 100%;
}

.header-item {
  border: 2px solid white;
  border-radius: 0.25rem;
  background-color: black;
  padding: 5px 15px;
}

.header-item-value {
  font-weight: 400;
}

#content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
}

#console {
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  border: 2px solid white;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
  width: 66.5vw;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1.25rem;
  font-family: Classic Console Neue;
  white-space: pre-line;
}

#input {
  border: 2px solid white;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  width: 66.5vw;
  height: 5rem;
  color: white;
  font-size: 1.5rem;
  font-family: Classic Console Neue;
  text-indent: 1rem;
}

#input-symbol {
  position: absolute;
}

#credits {
  color: white;
  font-weight: 500;
  font-family: Classic Console Neue;
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgb(0, 0, 0);
}

#credits a {
  cursor: pointer;
}

#credits a:hover {
  color: rgb(180, 45, 45);
}